@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-weight: 400;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}